body {
    background-color: rgba(0, 0, 0, 0.986);
    width: 100%;
   
}

.card-img-overlay {
    font-family: 'Aclonica', sans-serif;
    margin-top: 17rem;
}
.picpage {
    border: black solid;
    border-radius: 0%;
}

.card-text{
    font-family: 'Righteous', cursive;
    color: red;
    font-size: larger;
}

.banner-container {
    background-image: linear-gradient(rgb(0, 0, 0), #3E4A57);
}
.banner-column {
    background-color: rgb(194, 21, 15);
    border: black solid 2px;
    border-radius: 5%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.864);
}
/* 
.navbar{
    border-bottom: 2px black solid;
    padding-bottom: 0%;
    margin-bottom: 0%;
} */
.elt {
    color: #FF7F00;
}
.navbar-brand { 
    font-family: 'Henny Penny', cursive;
    font-weight:bolder;
    background-color:black;
    color: yellow;
    border: 2px #FFBF0D solid;
    padding: 5px;
    border-radius: 10%;
}


.carousel-item {
    height: 40rem;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: white;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    /* bottom: 110px; */
    /* padding-bottom: 50px; */
}
.overlay-image {
position: absolute;
background-size: cover;
background-position: center;
left: 0;
right: 0;
bottom: 0;
top: 0;
opacity: .5;
}

.about-container {
   
 background-color: rgba(3, 63, 64, 0.972);
}

#navbarSupportedContent {
    
    font-weight: bolder;
}

.nav-link {
    color: rgb(111, 253, 255) !important;
}

#sub-nav {
    background-color: black;
    font-family: 'Lobster', cursive;
    font-size: larger;
}
   

.my-name {
    font-family: 'Abril Fatface', cursive;
}

.bio {
    font-family: 'Teko', sans-serif;
    color: yellow;
}
   

.details-bio 
   { font-family: 'Caveat', cursive;
    font-size: large;
    color: blanchedalmond;
   
}
/* 
#context {
    position: relative;
}
/*  */

#image {
    box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.864);
    transition: .4s linear;
}
#image:hover {
    transform: scale(1.2);
}


.container-4 {
   background-color: #2f382f;
   
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgba(229, 251, 26, 0.972);
    color: black;
    border-radius: 50%;
    font-family: 'Teko', sans-serif;
}

.card {
    color: white;
   
} 

/* project.....//////// */


#probox {
    background:radial-gradient( rgba(230, 236, 104, 0.904), rgb(145, 241, 145) );
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.864);
    transition: linear .3s;
    border: solid #0A4445;

}
 
#probox:hover{
    transform:translateY(-10px);
    
    
}

.paragraph {
    color: black;
}

.container-friends {
    background-color: #0A4445;
}

#frnd {
    border: solid #0A4445;
   
    margin-bottom: 10px;
}

.container-form {
    background-color: rgb(152, 0, 0);
}

.inner-form {
    background-color: rgb(229, 255, 0) !important;
    
}

.inner-form:hover {
    background-color: cornsilk !important;
}

#SEND {
    font-size: x-large;
}
#SEND:hover {
    background-color: green;
    color: black !important;
    font-size: 30px;
}

/* ........................maaap........................ */
.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.maps {
    padding: 80px !important;
    
}

.container-map {
    background-color: #10301F!important;
    
    font-family:
Righteous, cursive;
}


/* .....footer */

.cotainer-footer {
    background-color: rgb(0, 0, 0);
}

.social-media {
    background-color: honeydew;
    width: 60PX;
    height: 60PX;
    border-radius: 50%;
    font-size: 40px;
   display: inline-block;
   text-align: center;
   box-shadow: 0px 5px 5px 2px rgb(0, 0, 0);
  
 
}

.social-media:hover {
   background-color: rgb(152, 0, 0);
   

}
.fab {
    transition: .4s ;
}

.fab:hover {
    transform: scale(1.6);
    color: rgb(255, 255, 255);
}