body {
    background-color: silver;
   
}

.banner-container {
    background-color:#175b19;
}
.banner-column {
    background-color: rgb(240, 34, 27);
    border: black solid 2px;
    border-radius: 5%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.864);
}

/* carousel........................................ */
.container-xlg {
    margin-top: 15rem;
}

.navbar-brand { 
    font-family: 'Henny Penny', cursive;
    font-weight:bolder;
    color: yellow;
    border: 2px #FFBF0D solid;
    border-radius: 20%;
}

.carousel-item {
    height: 35rem;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: white;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    /* bottom: 110px; */
    /* padding-bottom: 50px; */
}
.overlay-image {
position: absolute;
background-size: cover;
background-position: center;
left: 0;
right: 0;
bottom: 0;
top: 0;
opacity: .5;
}