body {
    background-color: rgba(0, 0, 0, 0.986);
    width: 100%;
   
}

.card-img-overlay {
    font-family: 'Aclonica', sans-serif;
    margin-top: 17rem;
}
.card-text{
    font-family: 'Righteous', cursive;
    color: red;
    font-size: larger;
}

.banner-container {
    background-color:#000000;
}
.banner-column {
    background-color: rgb(194, 21, 15);
    border: black solid 2px;
    border-radius: 5%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.864);
}

/* carousel........................................ */
.container-xlg {
    /* margin-top: 4rem; */
   
}

.navbar-brand { 
    font-family: 'Henny Penny', cursive;
    font-weight:bolder;
    color: yellow;
    border: 2px #FFBF0D solid;
    border-radius: 20%;
}


.carousel-item {
    height: 35rem;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: white;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    /* bottom: 110px; */
    /* padding-bottom: 50px; */
}
.overlay-image {
position: absolute;
background-size: cover;
background-position: center;
left: 0;
right: 0;
bottom: 0;
top: 0;
opacity: .5;
}

.about-container {
   
 background-color: rgba(3, 63, 64, 0.972);
}

#sub-nav {
    background-color: black;
    font-family: 'Lobster', cursive;
    font-size: larger;
}
   

.my-name {
    font-family: 'Abril Fatface', cursive;
}

.bio {
    font-family: 'Teko', sans-serif;
    color: yellow;
}
   

.details-bio 
   { font-family: 'Caveat', cursive;
    font-size: large;
    color: blanchedalmond;
   
}
/* 
#context {
    position: relative;
}
/*  */

#image {
    box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.864);
}
.container-4 {
   background-color: #2f382f;
   
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgba(229, 251, 26, 0.972);
    color: black;
    border-radius: 50%;
    font-family: 'Teko', sans-serif;
}

.card {
    color: white;
   
} 

/* project.....//////// */


#probox {
    background:radial-gradient( rgba(230, 236, 104, 0.904), rgb(145, 241, 145) );
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.864);
    transition: linear .3s;


}
 
#probox:hover{
    transform:translateY(-10px);
    
}

.paragraph {
    color: black;
}