body {
    font-family: 'Josefin Sans', sans-serif;
}

.banner-container {
    background-color:#175b19;
}
.banner-column {
    background-color: rgb(240, 34, 27);
    border: black solid 2px;
    border-radius: 5%;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.864);
}